<!--
<% if @attendance %>
		<%if @attendance.errors.any? %>
			<p>Nous n'avons pas réussi à créer la réservation pour la (ou les) raison(s) suivante(s) :</p>
			<ul>
				<% @attendance.errors.full_messages.each do |message| %>
				<li><%= message %></li>
				<% end %>
			</ul>
		<% end %>
	</div>
<% end %>
-->



