<html lang="fr">
<head>
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<script src="https://kit.fontawesome.com/ddfb0b616e.js"></script>
<title>Page Title</title>
</head>
<body>

<footer>
    <div class="footer bg-light">
            <div class="container">
                    <div class="row">
                      <div class="col-lg">
                        Navigate
                        <div class="container">                              
                                  <div class="col-lg space-footer">
                                    <a href="<%=events_path%>">Events</a>
                                  </div>
                                  <div class="col-lg">
                                    <a href="#">Blog</a>
                                  </div>
                                  <div class="col-lg">
                                    <a href="<%=user_path(current_user)%>">Profil</a>
                                  </div>                               
                              </div>
                      </div>
                      <div class="col-sm">
                        Contact
                        <div class="container">
                                  <div class="col-lg space-footer">
                                    <i class="fas fa-phone-alt"></i>+33 6 12364578
                                  </div>
                                  <div class="col-lg">
                                   <i class="fas fa-inbox"></i> Event-mtp@event.com 
                                  </div>
                              </div>
                      </div>
                      <div class="col-sm">
                        <div class="container">
                                <div class="row space-footer">
                                  <div class="col-lg">
                                    <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
                                  </div>
                                  <div class="col-lg">
                                    <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
                                  </div>
                                  <div class="col-lg">
                                    <a href="#"><i class="fab fa-snapchat fa-2x"></i></a>
                                  </div>
                                </div>
                              </div>
                      </div>
                    </div>
                  </div>
    </div>
    </footer>
</body>
</html>