<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

        <div class="jumbotron-page jumbotron-fluid">
                <div class="container">
                  <h1 class="display-4">Voici notre team</h1>
                  <p class="lead">On t'en dit un peu plus sur nous ! </p>
                </div>
              </div>

       
    
</body>
</html>